.search-pic {
  border-radius: 0 4px 4px 0;
  border: 0;
  background: #d32323;
  padding: 14px 20px 13px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search {
  border-radius: 4px 0 0 4px;
  HEIGHT: 44px;
  width: 800px;
  color: rgb(200, 200, 200);
  font-size: 16px;
  color: black;


}


.sear-ad-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 580px;
}
