.search-pic-sear-container {
  border-radius: 0 4px 4px 0;
  border: 0;
  background: #d32323;
  padding: 14px 20px 13px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-sear-container {
  height: 42px;
  border: none;
  width: 800px;
  color: rgb(200, 200, 200);
  font-size: 16px;
  color: black;
}
.location-sear-container {
  border: none;
  width: 65%;
  height: 44px;
  width: 800px;
  color: rgb(200, 200, 200);
  font-size: 16px;
  color: black;
}
.search-form-sear-container {
  display: flex;
  width: 100%;
}

.sear-ad-cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 580px;
}

.drop-down-sear-container {
  background-color: white;
  width: 31%;
  position: absolute;
  margin-top: 42px;
  /* z-index: 1; */
}

.drop-down-list {
  text-decoration: none;
  list-style: none;
  font-family: Arial;
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.drop-down-div {
  padding: 20px;
}
.drop-down-div:hover {
  background-color: #0073bb;
}

.find-sear-container {
  padding: 13px 13px 0;
  height: 70%;
  border-radius: 5px 0 0 5px;
  font-family: sans-serif;
  font-weight: bold;
  color: #666666;
  background-color: white;
  font-size: 18px;
}

.near-sear-container {
  padding: 13px 13px 0;
  height: 70%;
  font-family: sans-serif;
  font-weight: bold;
  color: #666666;
  background-color: white;
  font-size: 18px;
}

.search-bar-container {
  width: 65%;
}

.search-pic-nav-sear-container {
  border-radius: 0 4px 4px 0;
  border: 0;
  background: #d32323;
  /* padding: 14px 20px 13px; */
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-nav-sear-container {
  /* HEIGHT: 44px; */
  border: none;
  width: 300px;
  color: rgb(200, 200, 200);
  font-size: 14px;
  color: black;
}

.location-nav-sear-container {
  border: none;
  width: 65%;
  height: 34px;
  width: 300px;
  color: rgb(200, 200, 200);
  font-size: 14px;
  color: black;
}

.search-form-nav-sear-container {
  display: flex;
  width: 100%;
  max-height: 34px;
}

.drop-down-nav-sear-container {
  background-color: white;
  width: 25%;
  position: absolute;
  /* margin-top: 42px; */
  z-index: 2;
}

.find-nav-sear-container {
  padding: 11px 13px 0;
  border-radius: 5px 0 0 5px;
  font-family: sans-serif;
  font-weight: bold;
  color: #666666;
  background-color: white;
  font-size: 14px;
}

.near-nav-sear-container {
  padding: 11px 13px 0;
  font-family: sans-serif;
  font-weight: bold;
  color: #666666;
  background-color: white;
  font-size: 14px;
}

.hide {
  display: none;
}

.login-signup-nav {
  display: flex;
  width: 17%;
  justify-content: space-evenly;
}

.login-sear-nav {
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #c41314;
  border: solid 1px #c41314;
  background: #d41314;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin: auto;
}

.signup-sear-nav {
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #c41314;
  background: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
  margin: auto;
}

.dropped-down-list1 {
  z-index: 2;
  position: absolute;
  left: 952px;
  top: 51px;
  min-height: 156px;
  max-width: 15%;
  margin-top: 20px;
  background: white;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}
.three {
  top: 51px !important;
  right: 285px !important;
  font-size: 30px !important;
  position: absolute !important;
  color: white;
}
