.business-image {
  min-width: 159px;
  margin-left: 20px;
}


.nav-bar-container {
  display: flex;
  justify-content: space-between;
  width: 56%;
}
.ul-nav-bar-item1 {
  background: #fafafa;

}

.bus-review-body {
  width: 394px;
  margin-top: 14px;
  letter-spacing: 0.2px;
  font-family: arial;
  font-size: 15px;
}

.link-page-numbers {
  font-weight: bold;
  font-size: 17px;
  padding-right: 10px;
  font-family: Arial;
}

.bus-num {
  padding: 5px;
}

.business-city {
  padding: 5px;
}

.business-address {
  padding: 5px;
}

.review {
  color: #666;
  font-weight: normal;
  font-family: arial;
  font-size: 14px;
  padding-top: 5px;
  display: flex;
  width: 195px;
}

.bus-num-rev {
  padding-top: 4px;
}

.nav-bar-container a {
  text-decoration: none;
  border-left: 1px solid #e6e6e6!important;
  border-right: 1px solid #e6e6e6!important;
  display: flex;
  width: 25%;
  padding: 0 10px;
  align-items: center;
  min-height: 36px;

}

.review-bar-container {
  padding-right: 23px;
  padding-top: 8px;
  border-left: 1px solid #e6e6e6!important;
  border-right: 1px solid #e6e6e6!important;
}

.review-bar-container a {
  text-decoration: none;
}

.nav-bar-item {
  padding-left: 27px;
  color: #333;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}
.cat-ad-cont {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  /* padding-right: 60px; */
}
.secondary-attributes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: arial;
  padding-right: 13px;
  margin-right: 15px;

}

.large-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 675px;
  min-height: 220px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-right: 20px;
}
.main-attributes {
  margin: 19px;
}


.rating-created-at {
  display: flex;
}
.link-page {
  display: flex;
  margin-top: 14px;

}

.map-ad {
  margin-right: auto;

  margin-bottom: 580px;

}
.main-attributes a {
  color: #2473bb;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
  display: flex;

  font-size: 17px;
}

.secondary-attributes {
  font-family: Helvetica;
  font-weight:  lighter;
  font-size: 14px;
  display: flex;
  width: 50%;

  list-style-type:  none;
  justify-content: space-around;
  flex-direction: column;
}

.business-pic {
  height: 210px;
  border-radius: 5px;
  width: 210px;
  padding-right: 5px;
  object-fit: cover;
}
.business-info {
  display: flex;
  min-width: 335px;
  min-height: 240px;
  padding-left: 10px;
  margin-left: 65px;
  justify-content: space-around;
}

.business-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 500px;
}




.business-list {
  padding: 15px;
  font-family: Helvetica;

}


.main-business-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 30px;
  min-height: 600px;
  margin: auto;
  width: 67%;
}


.header-nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 40px;
}



.ul-nav-bar-item1 {
  width: 100%;
      display: flex;
      justify-content: space-around;
    }

.ul-nav-bar-item a {
  padding: 0 30px;
  text-decoration: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-family: 'Helvetica Neue';
  color: #333;

  font-weight: 300px;
  min-height: 30px;
   padding-top: 10px;
}

.ul-nav-bar-item a:hover {
  color: #0073bb;
  cursor: pointer;
}


.nav-bar-item :hover {
  cursor: pointer;
}


.first-review-container {
  min-height: 220px;
  position: relative;
  padding-top: 15px;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
}

.write-first-review {
  color: #333;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1.2em;
  font-family: Arial;
}

.need-help-p {
  width: 99%;
  font-weight: 400;
  padding: 12px 0;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.3125em;
  font-family: Arial;
  color: #333;
}
.awaits-container {
  width: 44%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recent-businesses {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
  font-family: Arial;
  margin: 40px 0 20px 280px;
}

.search-pic-write-review-search {
  color: #fff;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  background-color: #d90007;
  background: linear-gradient(#d90007,#c91400);
  font-size: 12px;
  line-height: 1.5em;
  width: 32px;
}

.write-review-business-pic {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.write-review-business-container {
  display: flex;
  flex-wrap: wrap;
  width: 78%;
  margin: auto;
  justify-content: flex-start;
  justify-content: center;

}
.write-review-main-business-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.write-review-large-wrapper {
  display: flex;
  width: 38%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-items: center;
  margin: 10px;

}

.write-review-secondary-attributes-container {
  display: flex;
  width: 100%;
  font-size: 15px;
  list-style: none;
  justify-content: space-around;
  padding: 0 0 20px 8px;
}

.write-review-business-info {
  height: 100%;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.write-review-bus-name {
  text-decoration: none;
  font-weight: bold;
  color: #0073bb;
}

.write-review-review {
  padding-left: 10px;
}
.write-review-link-page {
  padding: 10px;
}








/* .review-bus {
  width: 70%;
  display: flex;
  padding-bottom: 50px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */

.review-bus {
  flex-wrap: wrap;
width: 70%;
display: flex;
padding-bottom: 50px;
margin: auto;
align-items: end;
}
/* .activity-wrapper {
  width: 30.33%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 30px;
} */

.activity-wrapper {
  width: 30.33%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-right: 20px;
    height: 100%;
    padding: 0px;
    display: block;
}
/* .splash-review-pic-wrapper {
  width: 100%;
  height: 130px;
} */

.splash-review-pic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: auto;
}

/* .splash-review-pic {
  object-fit: cover;
} */

.splash-review-pic {
  width: 100%;
  height: 70%;
}

.splash-user-pic {
  width: 30px;
  height: 30px;
}

.activity-user-name {
  display: flex;
  flex-direction: column;
  font-family: arial;
  font-size: 14px;
  margin-left: 10px;
}

.activity-full-name {
  color: #0073bb;
  font-weight: 700;
  padding-bottom: 3px;
}
.activity-user-info {
  display: flex;
  flex-direction: column;
}

.activity-wrapper-1 {
  display: flex;
  width: 90%;
  margin: 10px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 8px;
}

.activity-bus-name {
  font-family: arial;
  font-size: 15px;
  margin-left: 10px;
  color: #0073bb;
  font-weight: 700;
  padding: 10px 0;
}

.activity-review-wrapper {
  width: 95%;
  margin: auto;
  border-top: 1px solid #e6e6e6;
}

.activity-stars {
  margin: 10px 0;
}

.activity-review-body {
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0 10px 3px;
  font-family: sans-serif;
  font-size: 15px;
}


.recent-activity {
  margin: auto;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
  font-family: arial;
}

.recent-activity-wrapper {
  display: flex;
  font-family: arial;
  border-bottom: 1px solid #e6e6e6;
  width: 67%;
  margin: 70px 0 60px 235px;
}


.browse-category-container {
  background: #fafafa!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 340px;
}

.browse-category {
  margin: auto;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
  font-family: arial;
}



.category-bus {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.splash-category-wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 140px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
}

.splash-cat-pic-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.splash-cat-pic {
  object-fit: contain;
  height: 55%;
  margin: auto;
}

.splash-category-name {
  font-family: arial;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 25px;
}

.splash-link {
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.top-results {
  font-size: 21px;
  line-height: 1.28571em;
  font-family: arial;
  font-weight: 700;
  margin: auto;
}

.top-results-wrapper {
  background: #f5f5f5;
  height: 160px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}


.top-res-name {
  display: flex;
}

.top-results-wrapper2{
  display: flex;
  width: 100%;
  padding-right: 60px;
  flex-direction: column;
  justify-content: space-evenly;
}

.top-category-results1 {
  display: flex;
}

.selectedToggleClass{
  background-color: rgb(196, 242, 164)!important;
  border: 1px solid black!important;
}
.selectedToggleClass2{
  background-color: rgb(196, 242, 164)!important;
  border: 1px solid black!important;
}
.selectedToggleClass3{
  background-color: rgb(196, 242, 164)!important;
  border: 1px solid black!important;
}
.selectedToggleClass4{
  background-color: rgb(196, 242, 164)!important;
  border: 1px solid black!important;
}

.show-num-bus {
  font-family: arial;
font-size: 14px;
}

.top-category-results {
  display: flex;
  margin-left: 227px;
  color: #333;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.top-results-wrapper3{
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  margin-left: 120px;
  font-family: sans-serif;
  font-size: 15px;
}

.top-wrapper3-sec-1 {
  display: flex;
}

.top-wrapper3-sec-2 {
  display: flex;
  width: 33%;
  justify-content: space-around;
}

.sec-2-noise{
  display: flex;
  align-items: center;
  font-weight: 700;
}

.sec-2-noise-levels {
  display: flex;
}

.top-wrapper3-sec-3 {
  display: flex;
  justify-content: space-around;
}

.sec-3-del-options {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.sec-3-del {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.sec-3-del-options li {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.sec-1-li {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.sec-2-li {
  height: 30px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.sec-3-li {
  height: 30px;
  width: 40px;
  display: flex;
  border: 1px solid #ccc;
      border-radius: 4px;
      color: #333;
      background-color: #fff;
        align-items: center;
  justify-content: center;
  cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}
.sec-4-li {
  height: 30px;
  width: 45px;
  display: flex;
  border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.noise-1-li {
  height: 30px;
  width: 55px;
  display: flex;
  border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.noise-4-li {
  height: 30px;
  width: 85px;
  display: flex;
  border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.noise-2-li {
  height: 30px;
  width: 75px;
  display: flex;
  border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.noise-3-li {
  height: 30px;
  width: 55px;
  display: flex;
  border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
    min-height: 1.28571em;
    text-align: center;
}

.top-res-cat {
  font-size: 20px;
  line-height: 1.28571em;
  font-family: arial;
  display: flex;
  padding-top: 1px;
  align-items: center;
  padding-left: 5px;
}

.top-results-cafe{
  font-size: 21px;
  line-height: 1.28571em;
  font-family: arial;
  font-weight: 700;
  margin: auto;
}

.top-results-home{
  font-size: 22px;
  line-height: 1.28571em;
  font-family: arial;
  font-weight: 700;
  margin: auto;
}

.splash-review-bus-name {
  text-decoration: none;
  color: #0073bb;
}
