.top-shelf {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 545px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  min-width: 100%;
  min-height: 500px;

}
.lets-see {
  display: flex;
  margin-left: 60px;
  width: 65%;

  border-bottom: 1px solid #e6e6e6;
}

.fa  {
  padding-right: 10px;
}

.prof-pic {
  border-radius: 10px;
  width: 60px;
  height: 60px;
}

.user-name {
  display: flex;
  align-items: flex-start;
  list-style: none;
  width: 50px;

  padding-top: 30px;
}
.page-header {
  padding-top: 113px;


  width: 100%;
  display: flex;
  min-height: 159px;
  justify-content: space-evenly;
}

.tidy {
  padding-top: 20px;
  width: 280px;
  height: 280px;
  padding-bottom: 20px;
}
.left {
  font-size: 36px;
  text-shadow: 0 1px rgba(255,255,255,0.7);
  color: #333;
  font-family: Helvetica;
  font-weight: bold;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

bus-show-pics {
  width: 150px;

}
.show-pics {
  display: flex;
  height: 200px;
}

.right-button {
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;

  padding: 12px 25px;
  border-radius: 3px;

  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);

}

.subheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-reviews-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 500px
}

.reviews-container {
  display: flex;
  padding: 25px;
  flex-direction: column;
  min-height: 100px;
  padding-left: 140px;
  margin-left: 25px;


  list-style: none;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.2px;

  justify-content: space-between;

}

.fname1 {
  padding-left: 15px;
  padding-right: 3px;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #0073bb;

}

.lname1 {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #0073bb;

}

.reviews-container li {
  text-decoration: none;
}
.reviews {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 87%;
  align-items: flex-end;
  padding-right: 60px;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

}
.header-hours {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3125em;
  color: #d32323;
  font-family: Helvetica;
  padding-left: 5px;
  padding-bottom: 20px;
}

.day-container {
  display: flex;
  margin: 0;
  padding: 18px 0;
  padding-bottom: 17px;
}
.day {
  font-weight: bold;
  font-family: Helvetica;

}

.business-show-container {
  width: 48%;
  padding-left: 18px;


}

.business-hours {
  list-style: none;
      font-size: 14px;
      width: 83%;
}

.business-hours li {
  font-family: Helvetica;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 65%;
}

.bus-info {
  display: flex;
  font-size: 15px;
  padding: 7px 0;

}
.more-business-info-container {
  font-family: Helvetica;

}



.dub-container {
  display: flex;
  padding-left: 380px;
  width: 20%;
  justify-content: space-around;

  flex-direction: row-reverse;
}
.dub {
  display: inline-block;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 3px;
   font-size: 12px;
   line-height: 1.5em;
   color: #999;
   background: transparent;
   box-shadow: none;
   white-space: nowrap;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
   height: 20px;
    width: 20px;


}
.more-business-info {
    padding-top: 25px;
  font-weight: bold;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.3125em;
    color: #d32323;
}

.answer {
  font-weight: bold;
  padding-left: 15px;
}

.bus-address {
  font-weight: bold;
  font-family: Helvetica;

}

.bus-city {
  font-weight: bold;
  font-family: Helvetica;

}

.bus-zipcode {
  font-weight: bold;
  font-family: Helvetica;

}

.info {
  list-style: none;
  width: 21%;
    height: 390px;
    background: #fff;
    border: 1px solid #ccc;
}

.info li {
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.2px;

}

.bus-website {
  color: #0073bb;
}

.review-created-at {
  padding-left: 15px;
  margin-top: 4px;

}

.review-body {
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 0.2px;

  padding-top: 15px;

}

.num-reviews-container {
  align-items: center;
  display: flex;
  font-size: 16px;
  color: #666;
}

.bus-show-pics:hover {
  transform: scale(1.2);
  transition: all 1.7s ease-in-out;
  cursor: pointer;
}

.stars {
  padding-right: 10px;
}
.right {
  display: flex;
  padding-top: 3px;
  padding-left: 80px;
}

.right-list {
  display: flex;
  list-style: none;

  justify-content: space-between;
  PADDING-LEFT: 30px;
  padding-top: 2px;
  height: 25%;
}

.right-list li {
  font-family: Arial;
  padding: 7px 18px;
  color: #666;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  border: 1px solid;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.98571em;

  border-color: #ccc;
  color: #666;
  background-color: #f7f7f7;
  background: linear-gradient(#fff, #f7f7f7);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.num-reviews {
  color: #666;
  font-weight: normal;
    font-size: 16px;
    padding-top: 15px;
}
