.adjective-li {
  border: 1px solid;
  padding: 5px 8px;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.5em;
  color: #666;
  font-weight: 700;
  border-color: #ccc;
  background-color: #f7f7f7;
  background: linear-gradient(#fff, #f7f7f7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

.like-toggle {
  color: blue !important;
  cursor: pointer;
}
.toggle-adjective-li {
  border: 1px solid;
  padding: 5px 8px;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.5em;
  color: white;
  font-weight: 700;
  border-color: #ccc;
  background: blue;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

.adjective-ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.adjective-ul-wrapper {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.adjective-like {
  border: 1px solid;
  padding: 0 0 0 10px;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.5em;
  color: #666;
  font-weight: 700;
  border-color: #ccc;
  background-color: #f7f7f7;
  background: linear-gradient(#fff, #f7f7f7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-review-div {
  width: 22%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.adjective-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  width: 100%;
}

.helpful-review {
  margin-bottom: 10px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  color: #666;
}
