.business-categories {
  display: flex;
  justify-content: space-between;
  /* margin-top: 80px; */
  z-index: 5px;
  margin-top: 20px;
  text-shadow: 2px 2px 8px black;


}

.business-categories li {
  text-decoration: none;
  color: white;
}

.business-categories-list a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  /* color: white; */
  font-family: Helvetica;
  /* color: #0073bb; */
  /* padding-left: 300px; */
  color: white;

}

.business-categories-container {
  width: 400px;
}
