.business-categories {
  display: flex;
  justify-content: space-between;
  z-index: 5px;
  margin-top: 20px;
  text-shadow: 2px 2px 8px black;
}

.business-categories li {
  text-decoration: none;
  color: white;
}

.business-categories-list a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  font-family: Helvetica;
  color: white;
}

.business-categories-container {
  width: 400px;
}

.one {
  color: white;
  padding-right: 5px;
}

.fas {
  /* padding-right: 5px; */
}
