/* <div className="main-form-container">
  <div className="form-container"> */


  .main-review-form-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* padding-left: 150px; */
    padding-right: 30px;

  }

  .review-form-container {
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 587px;
    height: 346px;
    padding: 18px;
  }


.review-form-business-name {
  padding: 20px 640px 20px 0;
  margin: auto;

}

.review-form-business-name > a {
  color: #0073bb;
  font-size: 36px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  padding: 17px;
  padding-left: 150px;
  text-decoration: none;
}

.review-form-business-name > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contain-name-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: flex-start; */

}

.review-form {
  height: 68%;

}
.one-star {
  background-color: #F2BC82;
}
.two-star {
  background-color: #FDC116;
}
.three-star {
  background-color: #FF9151;
}
.four-star {
  background-color: #F25A54;
}
.five-star {
  background-color: #D4202B;
}

.form-rating-list {
  display: flex;
width: 181px;
flex-direction: row-reverse;
margin-bottom: 18px;
}
.form-body {
  display: block;
  width: 102%;
  border: 0;
  padding-top: 20px;

  height: 100%;
  font-size: 18px;
  resize: none;
}

.review-form-button {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #d90007;
  background: linear-gradient(#d90007, #c91400);
  text-decoration: none;
  border-color: #8d0005;
  border-radius: 3px;
  min-width: 227px;
  min-height: 43px;
  align-items: center;
  padding: 10px 19px 10px 19px;
  margin: 18px 0;
  text-align: center;
}

.review-form-button:hover {
  color: red;
}

.fa-trash {
  display: inline-block;
  width: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
  line-height: 1.5em;
  color: #999;
  background: transparent;
  box-shadow: none;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.fa-pencil {
  width: 18px;
  height: 18px;
}

.fa-trash:hover {
  background: #f8f8f8;
  background: -webkit-linear-gradient(#fff, #eee);
  background: linear-gradient(#fff, #eee);
  text-decoration: none;
  color: #333;
  border-color: #cdcdcd;
  border-color: rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.5);
}

.i {

  color: white;
  margin-left: 5px;
  background-color: #d3d3d3;
  border-radius: 3px;
}

.footer {
  padding-top: 100px;

}



.button-container {
  display: flex;
  align-items: flex-end;
}



.sub1-head-nav-bar {
  width: 80%;
  display: flex;
  align-items: center;


}
.ul-nav-bar-item {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-size: 15px
}

.ul-nav-bar-item a {
  padding: 0 30px;
  text-decoration: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-family: 'Helvetica Neue';
  color: #333;

  font-weight: 300px;
  min-height: 30px;
   padding-top: 10px;
}

.ul-nav-bar-item a:hover {
  color: #0073bb;
  cursor: pointer;
}
.sub2-head-nav-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
