<div className="main-form-container">
  <div className="form-container">


  .main-review-form-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
  }

  .review-form-container {
    width: 50%;
    flex-direction: column;
    display: flex;
    border: 1px solid;
    height: 600px;
  }
